p {
	margin: 5px;
}
.spaced-ul > li {
	margin-bottom: 10px;
}
.footer {
	font-size: 87.5%;
	border-top: 1px solid rgb(238,238,238);
	margin-top: 3.4286em;
	padding: 1.1429em;
	background: rgb(250, 250, 250);
}
.fakeLink {
	color: #551a8b;
	cursor: pointer;
	text-decoration: underline;
}
#lang{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 24px;
	padding: 10px;
}
#lang img {
	width: 60px; height: 40px;
	margin: 1px; border: 1px solid #ddd;
}
#lang img:hover {
	margin: 0px; border: 2px solid #999;
}
#original, #userpatch, #HD {
	display: none;
}
::-webkit-input-placeholder {
	font-style: italic;
	color: #BBB;
}
::-moz-placeholder {
	font-style: italic;
	color: #BBB;
	opacity: 1;
}
:-ms-input-placeholder {
	font-style: italic;
	color: #BBB;
}
