body{background-color:green;}
#DIVlista{
  position:fixed;
  bottom:0px;
  left:0px;
  height:40px;
  width:100%;
  background-color:#2f2f2f;
  color:white;
  z-index:100;
}
#DIVlistaRasa{
  position: fixed;
  bottom:0px;
  left:330px;
  font-size:32px;
}
#DIVcounter{
  position: fixed;
  bottom:0px;
  left:0px;
  width:320px;
  border:2px black solid;
  padding:0px;
  margin:0px;
}
#DIVcounterInside{
  background-color:red;
  width:320px;
  height:36px;
}
#DIVmcounter{
  position: fixed;
  bottom:0px;
  right:0px;
  width:320px;
  border:2px black solid;
  padding:0px;
  margin:0px;
  color:white;
}
#DIVmcounterInside{
  background-color:blue;
  width:320px;
  height:36px;
}
#DIVinventar{
  display:none;
  background-color: #434343;
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity: 0.9;
  padding: 10px;
}
#DIVstats{
  display:none;
  background-color: #434343;
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity: 0.9;
  padding: 10px;
}
#DIVmonster{
  display:none;
  border: 3px gray ridge;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  position: fixed;
  left:0px;
  top:50px;
  width:1024px;
  height:500px;
  padding:10px;
}
#IMGmonster{
  position:absolute;
  left:768px;
  width:256px;
  height:256px;
}
#IMGcombatChar{
  position:absolute;
  left:0px;
  width:256px;
  height:256px;
}
/*#DIVtasks{
  display:none;
  background-color: #434343;
  position: absolute;
  left:760px;
  top:100px;
  width:300px;
  opacity: 0.9;
  padding: 10px;
}*/
#DIVinventar img{border: 3px transparent solid;}
#DIVinventar img:hover{border: 3px red solid;}

#DIValert{
  position: fixed;
  top:0px;
  left:30%;
  height:25px;
  width:500px;
  background-color: #434343;
  border:2px #646464 solid;
  color:white;
  text-align:center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:10;
}
#DIVrasa{
  position:fixed;
  top:0px;
  left:0px;
  display:block;
  width:100%;
  height:100%;
  background-color:lime;
  font-size:96px;
}
#DIVobchod{
  position:fixed;
  top:0px;
  left:0px;
  display:block;
  width:100%;
  height:100%;
  background-color:white;
  display:none;
}
#DIVdialog{
  position:fixed;
  top:0px;
  left:0px;
  display:block;
  width:100%;
  height:100%;
  background-color:white;
  display:none;
}
